//Colors
$dark-purple: #07b2cf;
$light-purple: #07b2cf;
$old-purple: #07b2cf;
$transparent-dark-purple: rgba(7,178,207, 0.6);
$transparent-light-purple: rgba(7,178,207, .6);
$transparent-old-purple: rgba(7,178,207,.6);
$dark-green: #b2ff59;
$light-green: #ccff90;
$dark-black: #424242;
$light-black: #555;
$grey: #ccc;
$white: #fff;

//Fonts
$primary-font: 'Montserrat', sans-serif;
$detail-font: monospace;
